{% load static %}

<div style="margin-left: 10px; font-size: 15px;">
	<p>Dear {{user_name}},</p>
	<p>
		On behalf of GeniAnalysis, I'd like to thank you for your subscription. We sincerely<br> hope you'll enjoy using GeniSetup that helps you to do depth data analysis for F&O <br> products.
	</p>
	<p>
		If you have any questions or if we can further assist you in any way, please feel free to <br> email us at support@genianalysis.com.
	</p>
	<p>
		I hope to hear from you soon!
	</p>
	<p>
		Thank you once again,
	</p>
	<div style="width: 300px; border-top: 5px solid #20a7db;"></div>
	<p><b>Ashish Singh</b></p>
	<p>(Founder of GeniAnalysis)</p>
	<img height="100px" width="200px" src="https://genianalysis.com{% static 'Website/assets/images/geniLogo.jpeg' %}"><br>
	<a style="margin-top: 15px; color: blue;" href="https://genianalysis.com/">https://genianalysis.com/</a>
</div>
