{% load static %}

<div style="margin-left: 10px; font-size: 15px;">
	<p>Dear {{user_name}},</p>
	<p>
		We would gladly like to inform you that your payment has been verified and your <br> subscriptions has been started.
	</p>
	<p>
		We sincerely hope you'll enjoy using GeniSetup that helps you to do depth data <br> analysis for F&O products.
	</p>
	<p>
		If you have any questions or if we can further assist you in any way, please feel free to <br> email us at support@genianalysis.com.
	</p>
	<p>Thank you.</p>
	<p><b>Team - </b>GeniAnalysis</p>
	<div style="width: 300px; border-top: 5px solid #20a7db;"></div>
	<!-- <p><b>Ashish Singh</b></p> -->
	<!-- <p>(Founder of GeniAnalysis)</p> -->
	<br>
	<img height="100px" width="200px" src="https://genianalysis.com{% static 'Website/assets/images/geniLogo.jpeg' %}"><br>
	<a style="margin-top: 15px; color: blue;" href="https://genianalysis.com/">https://genianalysis.com/</a>
</div>
