{% load static %}
{% include "AdminPanel/header.html" %}
<style type="text/css">
	
</style>

<div class="app-main__inner" style="padding: 15px 0px 0 !important;">                    
	<div class="tabs-animation">                    
		<div class="col-lg-12">
			<row>
				<div>
					Dashboard
				</div>
				<!-- <div class="tab-content" id="pills-tabContent"> -->
					<!-- <div class="tab-pane fade  show active " id="pills-nifty-dashboard" role="tabpanel" aria-labelledby="pills-category-tab"> -->
						<!-- Testing -->
					<!-- </div> -->
	
					<!-- <div class="tab-pane fade " id="pills-oi_analysis_dashboard" role="tabpanel" aria-labelledby="pills-merchant-tab"> -->
						<!-- Admin -->
					<!-- </div> -->
				<!-- </div> -->

			</row>
		</div>
	</div>
</div>
							
{% include "AdminPanel/footer.html" %}				 